[Unit]
Description=Clustered etcd

[Service]
ExecStart=/usr/bin/etcd -data-dir /home/core/etcd -peer-addr %IP_ADDR%:7001 -addr %IP_ADDR%:4001 %PEERS% -name %NAME%
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
